{% extends "base_account.html" %}

{% block content %}


  <h1 class="text-center text-secondary m-2">Login</h1>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <div class="prefaced-form">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
    
      <div>{{ form.username.label_tag }}</div>
      <div class="mb-3">{{ form.username }}</div>
      
      <div>{{ form.password.label_tag }}</div>
      <div class="mb-3">{{ form.password }}</div>

      <a href="{% url 'password_reset' %}" class="btn">Lost password?</a>
    

      <input type="submit" class="btn btn-primary m-1" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}