{% extends "base_account.html" %}

{% block content %}


  <h1 class="text-center text-secondary m-2">Sign Up</h1>

  <div class="prefaced-form">
    <form method="post">
      {% csrf_token %}

      <div>{{ form.username.label_tag }}</div>
      <div class="mb-3">{{ form.username }}</div>

      <div>{{ form.password1.label_tag}}</div>
      <div class="mb-3">{{form.password1}}</div>

      <div>{{ form.password2.label_tag}}</div>
      <div class="mb-3">{{form.password2}}</div>


      <a href="{% url 'login' %}" class="btn">Already Have An Account?</a>

      <input type="submit" class="btn btn-primary m-1" value="Sign Up" />

    </form>
  </div>
{% endblock %}