html, body{
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6) ), url('/static/images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

}    

input[type="text"], input[type="password"]{
    border-radius: 1px;
    background: #f0f0f0;
    box-shadow: none;
    border: none;
    padding: 7px 8px;
}

 div{
 background: white;

}
#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

form{
    display: flex;
    flex-direction: column;
    margin: 28px 32px;
    margin-top: 0px;
}


.prefaced-form::before{
    content: '';
    display: inline-block;
    border-top: 1px solid #c0c0c0;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    
}
